<ion-header>
    <ion-toolbar color="primary">
        <ion-title> Currency Rate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-xs="4" offset-xs="4">
                <ion-img style="width:150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk8Qm-oQ4g5bSaxcMCfdp6CpGu_UHth5G8aA&usqp=CAU"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Edit Currencies</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-item>
                            <ion-label>Currency 1</ion-label>
                            <ion-input disabled="true" value="USD"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Currency 2</ion-label>
                            <ion-select value="TND" okText="Okay" cancelText="Dismiss" #c2>
                                <ion-select-option value="TND">TND</ion-select-option>
                                <ion-select-option value="EUR">EUR</ion-select-option>
                                <ion-select-option value="GBP">GBP</ion-select-option>
                                <ion-select-option value="CNY">CNY</ion-select-option>
                                <ion-select-option value="EGP">EGP</ion-select-option>
                                <ion-select-option value="JPY">JPY</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-card-content>
                    <ion-button color="success" expand="block" (click)="getCurrency(c2.value)">Convert</ion-button>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p> {{res}} {{dev}} </p>

</ion-content>